################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Testapp/FileContentIndex/1f5fb04f-7994-4b0e-b0e2-771a1acfcfdb.vsidx
/.vs/Testapp/FileContentIndex/69fc944f-643e-4d74-b6c4-dc84393ace85.vsidx
/.vs/Testapp/FileContentIndex/7c317d38-6b63-4034-8f3d-70f551e259e1.vsidx
/.vs/Testapp/FileContentIndex/ea6e5463-9a70-4fef-bb8e-63c84f47fd86.vsidx
/.vs/Testapp/FileContentIndex/32d9f1c6-e31d-4868-a528-9d6355fd89c7.vsidx
/.vs/Testapp/FileContentIndex
